.container{
    width: fit-content;
    height: auto;
    background-color: #E5E5E5;
    padding: 20px 5%;
}

.customer1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-lg-6{
    width: 100%;
}

.btn-outline-success{
    border: 1px solid #4c70de;
    color: #0006ff;
}

.btn-outline-success:hover{
    background-color: #001b6a;
    border: 1px solid #6a6eff;
}

.btn-outline-primary{
    border: 1px solid #52B788;
    color: #52B788;
}

.btn-outline-primary:hover{
    background-color: #52B788;
    border: 1px solid #52B788;
}

.btn-outline-danger{
    border: 1px solid #FF5C8A;
    color: #FF5C8A;
}

.btn-outline-danger:hover{
    background-color: #FF5C8A;
    border: 1px solid #FF5C8A;
}

.table-color>tr>th{
    background-color: #001662;
    color: #578fe8;
}

.table{
    width: 700px;
}