.form-main-div {
    position: absolute;
    left: 5%;
    top: 20%;
    width: 90%;
    height: 75%;
    background-color: rgb(231, 231, 231);
}

.cust-h3 {
    position: absolute;
    left: 5%;
    top: 15%;
    font-size: larger;
    color: #ff6600;
}

#searchField2 {
    position: absolute;
    right: 4%;
}

#search2 {
    position: absolute;
    right: 23%;
}

#customerId {
    width: 30%;
}

.customer-name-lable {
    position: absolute;
    top: 3%;
    left: 40%;
}

#address {
    width: 100%;
}

#mobile {
    width: 100%;
}

#customerName {
    width: 53%;
    position: absolute;
    left: 40%;
    top: 8%;
}

#customerTable {
    position: absolute;
    top: 65%;
    left: 1%;
    width: 98%;
}

.container{
    width: fit-content;
    height: auto;
    background-color: #ffffff;
    padding: 20px 5%;
}

.customer1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-lg-6{
    width: 100%;
}

.btn-outline-success{
    border: 1px solid #4c70de;
    color: #0006ff;
}

.btn-outline-success:hover{
    background-color: #001b6a;
    border: 1px solid #6a6eff;
}

.btn-outline-primary{
    border: 1px solid #52B788;
    color: #52B788;
}

.btn-outline-primary:hover{
    background-color: #52B788;
    border: 1px solid #52B788;
}

.btn-outline-danger{
    border: 1px solid #ff0000;
    color: #ff0000;
}

.btn-outline-danger:hover{
    background-color: #ff0000;
    border: 1px solid #ff0000;
}

.table-color>tr>th{
    background-color: #00620d;
    color: #005e10;
}

.customer-table-colour {
    color: #00620d;
}

.searchBtn {
    position: absolute;
    left: 69.5%;
    width: 5%;
}