@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lexend+Giga:wght@100..900&family=Lexend+Zetta:wght@100..900&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Limelight&family=Monoton&family=Oregano:ital@0;1&family=Pacifico&family=Plaster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lexend+Giga:wght@100..900&family=Lexend+Zetta:wght@100..900&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Limelight&family=Monoton&family=Oregano:ital@0;1&family=Pacifico&family=Plaster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
 font-family: "Prompt", sans-serif;
 font-weight: 500;
 font-style: normal;
}

body {
 background-color: rgba(236, 236, 236, 0.253);
}


.main-div {
 position: absolute;
 width: 80%;
 height: 80%;
 background-color: rgb(255, 255, 255);
 display: flex;
 top: 0%;
 right: 0%;
 bottom: 0%;
 left: 0%;
 margin: auto;
 box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
 border-radius: 5px;
}

.black-div {
 position: absolute;
 width: 23%;
 height: 80%;
 background: rgb(0, 255, 25);
 background: linear-gradient(0deg, rgba(0, 255, 25, 1) 0%, rgb(0, 231, 19) 19%, rgb(0, 212, 14) 32%, rgb(0, 224, 11) 54%, rgb(6, 185, 0) 85%);
 z-index: 2;
 display: flex;
 left: 15%;
}

#plate {
 width: 28%;
 height: 55%;
 position: absolute;
 top: 29%;
 left: 12.5%;
 z-index: 2;
 box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.212) 0px 15px 12px;
 border-radius: 50%;
 background-color: black;
 display: flex;
 transition-duration: 2s;
}

#plate:hover {
 transform: scale(1.04);
}


.h1 {
 font-size: 40px;
 font-weight: bolder;
 position: absolute;
 left: 50%;
 top: 25%;
 display: flex;
 color: rgb(0, 255, 0);

}

.h2 {
 font-size: 50px;
 font-weight: bolder;
 position: absolute;
 left: 50%;
 top: 31%;
}

.p1 {
 position: absolute;
 top: 42%;
 left: 50%;
 font-weight: bold;
 color: rgb(104, 104, 104);
}

.Singin-btn {
 font-weight: bolder;
 width: 100px;
 height: 40px;
 background-color: rgb(30, 255, 0);
 color: rgb(0, 0, 0);
 border: 2px rgb(0, 255, 0) solid;
 position: absolute;
 top: 60%;
 left: 50%;
}

.SingUp-btn {
 position: absolute;
 top: 60%;
 left: 58%;

 width: 100px;
 height: 40px;
}


.h5 {
 font-family: "Oregano", cursive;
 font-weight: bolder;
 font-style: normal;
 font-size: 50px;
 color: rgb(255, 255, 255);
 letter-spacing: 0.4vw;

 position: absolute;
 left: 21.7%;
 top: 3%;
 z-index: 3;
}