#navBar {
    background-color: #2b3092 !important; /* Add !important to override Bootstrap styles if needed */
    position: relative;
}
/* Optional: Change the text color of the navigation links */
.navbar-nav .nav-link {
    color: #ffffff; /* Set the desired text color */
    font-size: 22px;
}

/*.navbar-nav .nav-link button{*/
/*    background-color: #0006ff;*/
/*    border: none;*/
/*    color: #FFFFFF;*/
/*}*/

/*#Signup,#logout {*/
/*    background: none;*/
/*    border: none;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    font-size: inherit;*/
/*    cursor: pointer;*/
/*    outline: none;*/
/*    margin-right: 40px;*/
/*    background-color: #4d4d4d;*/
/*}*/
/*.fixed-top {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    z-index: 1000;*/
/*}*/
/*.home{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    background-color: gray;*/
/*    top: 13%;*/
/*}*/
/*.customer{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    background-color: #919191;*/
/*    top: 113%;*/
/*}*/
/*.item{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    background-color: white;*/
/*    top: 213%;*/
/*}*/
/*.order_Details{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    background-color: white;*/
/*    top: 313%;*/
/*}*/
/*.navbar {*/
/*    width: 100%;*/
/*    margin: auto;*/
/*    padding: 15px 0;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*}*/
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a {
    text-decoration : none;
    color: #fffdfd;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #00ecff;
    color: black;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after {
    width: 100%;
    color: black;
}
.navbar ul li a:hover {
    color: black;
}
