#navBar {
    background-color: #ff7b00 !important; /* Add !important to override Bootstrap styles if needed */
    position: relative;
}
/* Optional: Change the text color of the navigation links */
.navbar-nav .nav-link {
    color: #ffffff; /* Set the desired text color */
    font-size: 22px;
}


.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a {
    text-decoration : none;
    color: #fffdfd;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #923a00;
    color: black;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after {
    width: 100%;
    color: black;
}
.navbar ul li a:hover {
    color: black;
}
