#navBar {
    background-color: rgba(0, 255, 26, 0.788) !important;
    position: relative;
    height: 50px;
    z-index: 100;
}

.navbar-nav .nav-link {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #000000;
    position: absolute;
    left: 0;
    bottom: 10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
    
}

.navbar ul li a:hover {
    color: rgb(0, 0, 0);
}
