.order-main-div {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: rgb(221, 221, 221);
    top: 20%;
}

.container{
    width: fit-content;
    height: auto;
    background-color: #E5E5E5;
    padding: 20px 5%;
    height: 150vh;
}

.order1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

#order_id {
    position: absolute;
    width: 30%;  
}

#order_date {
    position: absolute;
    width: 40%;
    right: 6%;
    top: 13%;
}

#customer_id1 {
    position: absolute;
    width: 30%;  
}

#customer_name1 {
    position: absolute;
    width: 40%;
    right: 6%;
    top: 29%;
}

#total {
    position: absolute;
    width: 30%; 
    top: 43%; 
}

#discount {
    position: absolute;
    width: 40%;
    right: 6%;
    top: 43%;
}

#sub_total {
    position: absolute;
    width: 30%; 
    top: 60%; 
}

#Cash {
    position: absolute;
    width: 40%;
    right: 6%;
    top: 60%;
}

#balance {
    position: absolute;
    width: 30%; 
    top: 75%; 
}

#order_btn {
    position: absolute;
    top: 75%;
    right: 4%;
}

#item_code1 {
    position: absolute;
    width: 30%; 
    top: 13%;
}

#item_name1 {
    position: absolute;
    width: 50%; 
    top: 13%;
    right: 6%;
}

#price1 {
    position: absolute;
    width: 30%; 
    top: 33%;
}

#qty_on_hand {
    position: absolute;
    width: 50%; 
    top: 33%;
    right: 6%;
}

#getQty {
    position: absolute;
    width: 30%; 
    top: 53%;
}

#order_item_btn {
    position: absolute;
    top: 75%;
    right: 6%;
}

#item-order-table {
    width: 100%;
    position: absolute;
    top: 72%;
    
}

.col-lg-6{
    width: 100%;
}

.btn-outline-success{
    border: 1px solid #4c70de;
    color: #0006ff;
}

.btn-outline-success:hover{
    background-color: #4c70de;
    border: 1px solid #0006ff;
}

.btn-outline-primary{
    border: 1px solid #52B788;
    color: #52B788;
}

.btn-outline-primary:hover{
    background-color: #52B788;
    border: 1px solid #52B788;
}

.btn-outline-danger{
    border: 1px solid #FF5C8A;
    color: #FF5C8A;
}

.btn-outline-danger:hover{
    background-color: #FF5C8A;
    border: 1px solid #FF5C8A;
}

.table-color>tr>th{
    background-color: #4c70de;
    color: #FFFFFF;
}

.table{
    width: 500px;
}

.card{
    width: 550px;
    background-color: #E5E5E5;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#order_item_btn{
    margin-left: 20px;
}

#order_btn{
    margin: 20px;
}

.searchField{
    width: 300px;
    margin: 30px;
}

.searchBtn{
    margin: 30px;
    margin-left: 1px;
}

.d-flex{
    justify-content: right;
}


/* ***************** Second Div Css ****************** */
.order-2nd-div {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: rgb(221, 221, 221);
    left: 50%;
    top: 20%;
}

.order-2nd-div>input {
    position: absolute;
}