#order-details-table {
    width: 80%;
    position: absolute;
    left: 10%;
    top: 50%;
}

.search-order-details {
    position: absolute;
    width: 30%;
    top: 40%;
    left: 6.5%;
}

.searchField {
    position: absolute;
    right: 0%;
}

#search4 {
    position: absolute;
    left: 12%;
    width: 17%;
}

.card-header {
    position: absolute;
    top: 45%;
    right: 10%;
    font-size: larger;
    color: #ff6600;
}

.customer-count-lable {
    position: absolute;

}