@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lexend+Giga:wght@100..900&family=Lexend+Zetta:wght@100..900&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Limelight&family=Monoton&family=Oregano:ital@0;1&family=Pacifico&family=Plaster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
 box-sizing: border-box;
 margin: 0;
}

body {
 background-color: rgb(255, 255, 255);
}

.h1 {
 font-family: "Prompt", sans-serif;
 font-style: normal;
 font-weight: bolder;
 font-size: 30px;

 position: absolute;
 top: 20%;
 left: 25%;
}

.forms {
 position: absolute;
 top: 30%;
 left: 25%;
}

.background-image {
 position: absolute;
 width: 60%;
 height: 100%;
}

.transparent-div {
 position: absolute;
 width: 100%;
 height: 100%;
 background-color: rgba(255, 255, 255, 0.575);
}

.register-forms-div {
 position: absolute;
 width: 60%;
 height: 60%;
 background: linear-gradient(135deg, rgba(255, 255, 255, 0.445), rgba(255, 255, 255, 0.274));
 backdrop-filter: blur(10px);
 -webkit-backdrop-filter: blur(10px);
 top: 20%;
 left: 30%;
 border-radius: 10px;
 border: 1px solid rgba(204, 204, 204, 0.788);
 box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.27);
}

.main-forms-div {
 position: absolute;
 width: 100%;
 height: 100%;
}

.register-forms-div>h1 {
 position: absolute;
 top: 5%;
 left: 10%;
 color: rgb(0, 189, 57);
}

.email-forms {
 position: absolute;
 width: 100%;
 height: 100%;
 top: 30%;
 left: 10%;
 font-size: large;
 font-weight: bold;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.email-forms>.email-input {
 position: absolute;
 width: 40%;
 height: 6%;
 left: 0%;
 top: 6%;
 border: 1px rgb(187, 187, 187) solid;
 border-radius: 5px;
 background-color: rgba(255, 255, 255, 0.199);
}

.password-forms {
 position: absolute;
 width: 100%;
 height: 100%;
 top: 43%;
 left: 10%;
 font-size: large;
 font-weight: bold;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.password-forms>.Password-input {
 position: absolute;
 width: 40%;
 height: 6%;
 left: 0%;
 top: 6%;
 border: 1px rgb(187, 187, 187) solid;
 border-radius: 5px;
 background-color: rgba(255, 255, 255, 0.199);
}

.ConfirmePassword-froms {
 position: absolute;
 width: 100%;
 height: 100%;
 top: 56%;
 left: 10%;
 font-size: large;
 font-weight: bold;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ConfirmePassword-froms>.cm-Password-input {
 position: absolute;
 width: 40%;
 height: 6%;
 left: 0%;
 top: 6%;
 border: 1px rgb(187, 187, 187) solid;
 border-radius: 5px;
 background-color: rgba(255, 255, 255, 0.199);
}

.btn-success {
 position: absolute;
 top: 75%;
 left: 10%;
 font-size: medium;
 font-weight: 600;
 background-color: rgb(0, 168, 65);
 border: 1px rgb(0, 168, 50) solid;
}

.btn-danger {
 position: absolute;
 top: 75%;
 left: 20%;
 font-size: medium;
 font-weight: 600;
 background-color: rgb(255, 0, 0);
 border: 1px rgb(155, 0, 0) solid;
}

.submit-btn:hover {
 background-color: rgb(0, 177, 68);
}

.email-text {
 position: absolute;
 bottom: 1%;
 left: 10%;
 font-size: small;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 color: rgb(155, 0, 0);
}