* {
 top: 0;
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

body {
 background-color: #d3d3d3;
}

.navbar {
 color: rgb(255, 153, 0);
 /* font-weight: bold; */
}

.rect {
 position: absolute;
 left: 0;
 right: 0;
 height: 0;
 top: 15%;
 margin: auto;

 height: 82%;
 width: 97%;
 background-color: rgb(240, 240, 240);
}

#customer-add {
 position: absolute;
 top: 47%;
 right: 1.5%;
 border-radius: 0;
 z-index: 1;
}

#customer-table {
 position: absolute;
 bottom: 5%;
 top: 70%;
 left: 0;
 right: 0;
 margin: auto;

 height: 30%;
 width: 97%;
}

.customer-forms {
 position: absolute;
 height: 40%;
 width: 97%;
 background-color: #ffffff;

 top: 4%;
 left: 0;
 right: 0;
 margin: auto;
}

.customer-serch-title {
 position: absolute;
 height: 13%;
 width: 48%;
 background-color: rgb(255, 174, 0);
 z-index: 1;
}

.customer-details-title {
 position: absolute;
 height: 13%;
 width: 48%;
 background-color: rgb(255, 174, 0);
 z-index: 1;

 left: 52%;
}

.lable-name {
    position: absolute;
    left: 40%;
    top: 30px;
}

.name-form {
    position: absolute;
    left: 40%;
    top: 55px;
    width: 50%;
}

.lable-id {
    position: absolute;
    left: 0%;
    top: 30px;
}

.id-form {
    position: absolute;
    left: 0%;
    top: 55px;
    width: 35%;
}

.lable-address {
    position: absolute;
    left: 0%;
    top: 100px;
}

.address-form {
    position: absolute;
    left: 0%;
    top: 125px;
    
    width: 90%;
}

.lable-email {
    position: absolute;
    left: 0;
    top: 170px;
}

.email-form {
    position: absolute;
    left: 0%;
    top: 195px;
    
    width: 90%;
}

.search-form {
    position: absolute;
    top: 55px;
}