* {
 top: 0;
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

body {
 background-color: #d3d3d3;
}

.navbar {
 color: rgb(255, 153, 0);
 /* font-weight: bold; */
}

.rect {
 position: absolute;
 left: 0;
 right: 0;
 height: 0;
 top: 15%;
 margin: auto;

 height: 82%;
 width: 97%;
 background-color: rgb(240, 240, 240);
}

#customer-add {
 position: absolute;
 top: 47%;
 right: 1.5%;
 border-radius: 0;
 z-index: 1;
}

#customer-table {
 position: absolute;
 bottom: 5%;
 top: 70%;
 left: 0;
 right: 0;
 margin: auto;

 height: 30%;
 width: 97%;
}

.customer-forms {
 position: absolute;
 height: 40%;
 width: 97%;
 background-color: #ffffff;

 top: 4%;
 left: 0;
 right: 0;
 margin: auto;
}

.customer-serch-title {
 position: absolute;
 height: 13%;
 width: 48%;
 background-color: rgb(255, 174, 0);
 z-index: 1;
}

.customer-details-title {
 position: absolute;
 height: 13%;
 width: 48%;
 background-color: rgb(255, 174, 0);
 z-index: 1;

 left: 52%;
}

.lable-name {
    position: absolute;
    left: 40%;
    top: 30px;
}

.name-form {
    position: absolute;
    left: 40%;
    top: 55px;
    width: 50%;
}

.lable-id {
    position: absolute;
    left: 0%;
    top: 30px;
}

.id-form {
    position: absolute;
    left: 0%;
    top: 55px;
    width: 35%;
}

.lable-address {
    position: absolute;
    left: 0%;
    top: 100px;
}

.address-form {
    position: absolute;
    left: 0%;
    top: 125px;
    
    width: 90%;
}

.lable-email {
    position: absolute;
    left: 0;
    top: 170px;
}

.email-form {
    position: absolute;
    left: 0%;
    top: 195px;
    
    width: 90%;
}

.search-form {
    position: absolute;
    top: 55px;
}

.btn-success {
    position: absolute;
    border-radius: 0;
    left: 0;
    top: 120px;
    
    width: 15vw;
}



/* Item Section CSS */

.item-main-div {
    position: absolute;
    left: 0;
    right: 0;
    height: 0;
    top: 110%;
    margin: auto;

    height: 82%;
    width: 97%;
    background-color: rgb(240, 240, 240);
}

.item-main {
    position: absolute;
    left: 0;
    right: 0;
    height: 0;
    top: 10%;
    margin: auto;

    height: 82%;
    width: 97%;
    background-color: rgb(240, 240, 240);
}


/* Order Form Section */

.order-rect {
    position: absolute;
    left: 0;
    right: 0;
    height: 0;
    top: 210%;
    margin: auto;
   
    height: 82%;
    width: 97%;
    background-color: rgb(255, 255, 255);
}


.o-item-code {
    position: absolute;
    top: 40%;
    width: 15%;
    left: 1.5%;
}

.o-item-name {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 15%; 
}

.o-customer-id {
    position: absolute;
    top: 25%;
    left: 20%;
    width: 15%;
}

.o-customer-name {
    position: absolute;
    top: 40%;
    left: 20%;
    width: 15%;
}

.o-oder-id {
    position: absolute;
    top: 10%;
    left: 1.5%;
    width: 15%;
}

.o-oder-date {
    position: absolute;
    width: 15%;
    top: 25%;
    left: 1.5%;
}

.o-total {
    position: absolute;
    width: 15%;
    top: 25%;
    left: 40%;
}

.o-qty {
    position: absolute;
    top: 10%;
    left: 40%;
    width: 15%;
}

.search-form-order {
    position: absolute;
    top: 2%;
    left: 68%;
    width: 30%;
    height: 6%;
}

.search-btn-order {
    position: absolute;
    top: 10%;
    left: 83%;
    width: 15%;
    height: 6%;
}

.place-order-cal {
    position: absolute;
 height: 4%;
 width: 40%;
 background-color: rgb(255, 174, 0);
 z-index: 1;

 top: 19%;
 left: 58%;
}

.cash {
    position: absolute;
    top: 25%;
    left: 58%;
    width: 15%;
}

.discount {
    position: absolute;
    top: 25%;
    left: 58%;
    width: 15%;
}

.subtotle {
    position: absolute;
    top: 25%;
    left: 83%;
    width: 15%;
}

.cash {
    position: absolute;
    top: 35%;
    left: 58%;
    width: 15%; 
}

.balence {
    position: absolute;
    top: 35%;
    left: 83%;
    width: 15%;
}

.add-to-cart {
    top: 45%;
    left: 45%;
    width: 9vw;
    background-color: rgb(0, 109, 9);
}

.Place {
    position: absolute;
    top: 45%;
    left: 94%;
    
    background-color: rgb(0, 56, 109);
}